<html>
          <head>
            <link rel="icon" type="image/x-icon" sizes="32x32" href="/favicon.ico">
            <title>My App</title>
          </head>
          <body style="text-align: center;">
            <h1 style="color: #333;">&#9889; Author &#9889;</h1>
            <p style="color: #34495E;">Ivan Rivalcoba Rivas - Web Developer</p>
            <div>
              <img width="300px" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fmorfs.xyz%2F&psig=AOvVaw0h1UpPgOQxJU_EnB7AWrZp&ust=1683697074152000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCPiogMLC5_4CFQAAAAAdAAAAABAE">
            </div>
          </body>
        </html>
